@font-face {
  font-family: 'NEXON Lv2 Gothic Light';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/NEXON Lv2 Gothic Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

.App {
  background-color : #040707;
  color : #ffffff;
  height: 100%;
  width: 100%;
  font-family: 'NEXON Lv2 Gothic Light';
}